.post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
  cursor: pointer;
}

.post:hover {
  background: #f8f8f8;
}

.post-content {
  flex-grow: 1;
  max-width: 70%;
}

.post-title {
  font-size: 1.2em;
  font-weight: 450;
}

.post-text {
  color: #666;
}

.post-footer {
  font-size: 0.9em;
  color: #999;
  margin-top: 10px;
}

.post-image {
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 900px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    max-width: 100%;
  }
}
