<div class="main-container">
  <div class="content">
    <h1 class="blog-title">{{currentUser.firstName}} {{currentUser.lastName}}</h1>
    <nav class="nav">
      <mat-tab-group (selectedIndexChange)="onTabChange($event)">
        <mat-tab *ngIf="userRole" [label]="UserConstants.USER_INFO">
          <div class="user-info">
            <form [formGroup]="userInfoGroup">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Enter your name">
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="Enter your name">
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Enter your email"  [readonly]="true">
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Select an option</mat-label>
                <mat-select formControlName="role">
                  <mat-option [value]="Role.READER">Reader</mat-option>
                  <mat-option [value]="Role.WRITER">Writer</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-stroked-button color="primary" type="submit" [disabled]="userInfoGroup.invalid"
                (click)="onSubmit()">
                Submit
              </button>
            </form>
          </div>
        </mat-tab>

        <mat-tab *ngIf="userRole === 'ROLE_WRITER'" [label]="UserConstants.POSTS">
          <app-post-list [posts]="posts"></app-post-list>
        </mat-tab>

        <mat-tab *ngIf="userRole === 'ROLE_WRITER'" [label]="UserConstants.STATS">

          <div class="chart-container">
            <ngx-charts-pie-chart [view]="view" [scheme]="'cool'" [results]="postData" [legend]="true" [labels]="true"
              [doughnut]="true" [explodeSlices]="false" [gradient]="true" [animations]="true">
            </ngx-charts-pie-chart>
          </div>

        </mat-tab>
      </mat-tab-group>
    </nav>
  </div>
</div>
