<div class="main-container">
  <div class="content">
    <h1>
      <span [innerHTML]="postTitle"></span>
    </h1>
    <div class="author">
      <span>By </span>
      <span> {{ by}}</span>
    </div>
    <div class="metadata">{{publishedAt}}</div>
    <mat-divider class="divider"></mat-divider>
    <div #contentContainer [innerHTML]="processedContent | safeHtml"></div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="closeDialog()">Close</button>
</mat-dialog-actions>
