<form [formGroup]="htmlForm">
  <div class="main-container">
    <div class="content">
      <div class="button-container">
        <div class="text">Write your Blog below</div>
        <div class="button-row">
          <button class="b"
            mat-stroked-button (click)="toMain()">Cancel</button>
          <button class="b" [disabled]="!htmlForm.get('htmlContent')?.value?.trim()"
            mat-stroked-button (click)="post()">Post</button>
            <button class="b" [disabled]="!htmlForm.get('htmlContent')?.value?.trim()"
            mat-stroked-button (click)="preview()">Preview</button>
        </div>
      </div>
      <div class="container">
        <div class="form-field-container">
          <form [formGroup]="titleForm">
            <mat-form-field appearance="outline" class="full-width" #category>
              <mat-label>Select Blog Post Category</mat-label>
              <mat-select formControlName="category" required>
                <mat-option *ngFor="let category of postCategories" [value]="category">
                  {{ category }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" required placeholder="Your main title" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Image url</mat-label>
              <input matInput formControlName="shortContentImageUrl" required placeholder="Put your image url here"/>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Short content</mat-label>
              <textarea matInput formControlName="shortContent" required placeholder="Put your short content here, something that will catch the viewer's eye"></textarea>
            </mat-form-field>
          </form>
        </div>
        <header class="header"></header>
        <angular-editor formControlName="htmlContent" [config]="config"></angular-editor>
      </div>
    </div>
  </div>
</form>
